@media only screen and (max-width: 760px) {
    .social {
        flex-direction: row;
        justify-content: center;
    }
    .social li {
        margin: 0 15px;
    }
    .navbar-light .navbar-toggler,
    .navbar-toggler-icon {
        color: #98412E;
        border-color: #98412E;
    }
    #mapa,
    .logo-mulher {
        display: none;
    }
    .menu_central .row {
        display: flex;
        flex-direction: column;
    }
    .sub-menu {
        display: block;
        position: relative;
    }
    .page-content {
        min-height: 100vh;
        margin-top: 25px;
        padding: 0 25px;
    }
}